<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-dark px-4">
  <span class="navbar-brand">Expense Tracker</span>

  <div class="d-flex align-items-center gap-3 text-white">
    <div class="profile-circle">{{ userName.charAt(0) }}</div>
    <span>{{ userName }}</span>
    <button class="btn btn-outline-light btn-sm" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- ACTION BAR -->
<div class="d-flex justify-content-between align-items-center px-4 mt-3">

  <!-- Filters (LEFT) -->
  <button
    class="btn btn-outline-secondary btn-sm w-auto d-flex align-items-center gap-1"
    (click)="showFilters = !showFilters"
  >
    Filters
  </button>

  <div class="d-flex gap-2">
    <button
      type="button"
      class="btn btn-outline-secondary btn-sm w-auto"
      routerLink="/visualize"
    >
      📊 Visualize
    </button>
  
    <button
      type="button"
      class="btn btn-primary btn-sm w-auto"
      routerLink="/add-expense"
    >
      + Add Expense
    </button>
  </div>
  

</div>



<!-- FILTER PANEL -->
<div *ngIf="showFilters" class="filter-panel mx-4 mt-3">

  <!-- Category -->
  <div class="filter-group">
    <label>Category</label>
    <select [(ngModel)]="selectedCategoryId">
      <option [ngValue]="null">All</option>
      <option [ngValue]="1">Food</option>
      <option [ngValue]="2">Travel</option>
      <option [ngValue]="3">Rent</option>
      <option [ngValue]="4">Groceries</option>
      <option [ngValue]="5">Office Supplies</option>
      <option [ngValue]="6">Client Expenses</option>
      <option [ngValue]="7">Entertainment</option>
      <option [ngValue]="8">EMI</option>
    </select>
  </div>

  <!-- Expense Type -->
  <div class="filter-group">
    <label>Expense Type</label>
    <select [(ngModel)]="expenseType">
      <option [ngValue]="null">All</option>
      <option value="PERSONAL">Personal</option>
      <option value="ORGANIZATIONAL">Organizational</option>
    </select>
  </div>

  <!-- Date -->
  <div class="filter-group">
    <label>From</label>
    <input
  type="date"
  [(ngModel)]="fromDate"
  [max]="today"
/>
  </div>

  <div class="filter-group">
    <label>To</label>
    <input
  type="date"
  [(ngModel)]="toDate"
  [max]="today"
/>
  </div>

  <div class="filter-actions">
    <button class="apply-btn" (click)="applyFilters()">Apply</button>
    <button class="clear-btn" (click)="clearFilters()">Clear</button>
  </div>
</div>

<!-- CONTENT -->
<h2 class="text-center mt-4">Your Expenses</h2>
<h4 class="text-center mb-4">Total: ₹ {{ total }}</h4>

<div class="table-responsive px-3">
<table class="table table-bordered text-center">
  <thead class="table-primary">
    <tr>
      <th>Date</th>
      <th>Title</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let e of expenses">
      <td>{{ e.expenseDate }}</td>
      <td>{{ e.title }}</td>
      <td>{{ e.amount }}</td>
      <td>{{ e.expenseType }}</td>
      <td>{{ e.category?.categoryName }}</td>
      <td>
        <button
        class="btn btn-outline-danger btn-sm"
        style="white-space: nowrap;"
        (click)="deleteExpense(e.expenseId)"
      >
        Delete
      </button>

      </td>
    </tr>
  </tbody>
</table>
</div>